.footer .navbar {
  overflow: hidden;
  background-color: #dee3e3;
  color: #20272f;
  min-height: 40px;
  width: 100%;
  z-index: 999;
}

.footer .navbar-brand {
  padding: 0;
}

.footer .navbar-brand p {
  font-size: .5em;
  margin: 5px;
}

.footer .navbar-text {
  font-size: .6em;
  color: #20272f;
  padding: 0;
  padding-left: 5px;
}
