h1 {
    font-family: 'Roboto';
    text-align: center;
}

h2 {
    font-family: 'Roboto';
    text-align: center;
}

h4 {
    font-family: 'Roboto';
    text-align: center;
}

.sponsor-level {
    font-family: 'Roboto';
    text-align: center;
    font-size: 3em;
    padding-top: 20px;
}

.section-body {
    margin-top: 30px;
}

.section-body:hover {
    background-color: #2eb6ad;
    border-bottom: 4px solid #29a39b;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
}