.blog-wrapper {
  padding: 100px 50px 50px 50px;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  font-family: "IBM Plex Mono";
  font-size: 1.5em;
  color: #ffffff;
  margin-bottom: 20px;
}

.featured-post {
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 16px;
  background-color: var(--accent-color);
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.featured-post .tag h3 {
  font-size: 12px !important;
  margin-bottom: 16px;
  width: fit-content;
  background-color: var(--accent-text-color);
  padding: 2px 16px;
  border-radius: 16px;
}

.featured-post .content {
  width: 100%;
  height: 100%;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.featured-post .content .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-post .text {
  padding: 16px;
}

.featured-post .heading {
  margin-bottom: 8px;
}

.featured-post .author h5 {
  font-size: 16px !important;
  color: var(--dark-text-color);
  margin-bottom: 16px;
}

.featured-post .description p {
  color: var(--dark-text-color);
  font-size: 14px !important;
}

.featured-post .read-more {
  color: var(--accent-color-light);
  font-size: 14px;
  width: fit-content;
}

.featured-post .read-more-arrow {
  color: var(--accent-color-light);
  font-size: 16px;
  margin-left: 4px;
}

.searchbar {
  height: 40px;
  background-color: var(--accent-color);
  margin-top: 10px;
  margin-bottom: 10px;
}

.popular-wrapper {
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: var(--dark-background-color-muted);
}

.popular-posts {
  margin: 10px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-post {
  margin: 10px;
  background-color: var(--accent-2-color);
  width: 300px;
  height: 200px;
}

.filter {
  margin: auto;
}

.posts-wrapper {
  width: 100%;
}

.post {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: var(--accent-2-color-shadow);
}

.post .tag h3 {
  display: inline-block;
  font-size: 12px !important;
  margin-bottom: 16px;
  width: fit-content;
  background-color: var(--accent-2-text-color);
  padding: 2px 16px;
  border-radius: 16px;
  margin-right: 4px;
}

.post .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.post .content .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post .text {
  padding: 16px;
}

.post .heading {
  margin-bottom: 8px;
}

.post .author h5 {
  font-size: 16px !important;
  color: var(--dark-text-color);
  margin-bottom: 16px;
}

.post .description p {
  color: var(--dark-text-color);
  font-size: 14px !important;
}

.post .read-more {
  color: var(--accent-2-color-light);
  font-size: 14px;
  width: fit-content;
}

.post .read-more-arrow {
  color: var(--accent-2-color-light);
  font-size: 16px;
  margin-left: 4px;
}
