.img-card {
  margin: 20px auto;
  padding: 5px;
  display: inline-block;
  width: 273px;
  height: 410px;
  cursor: pointer;
  white-space: wrap;
  min-width: 250;
}

.img-card:hover .exec-pic {
  /* opacity: 0.8; */
  /* -webkit-filter: grayscale(0%); */
  /* filter: grayscale(0%); */
  transition: 0.5s ease-in;
}

.img-card:hover .exec-text {
  -webkit-transition: background 0.2s, color 0.2s ease-in;
  transition: background 0.2s, color 0.2s ease-in;
  background: var(--dark-background-color);
  color: #ffffff;
}

.active.img-card {
  width: 450px;
}

.card-inner {
  position: absolute;
}

.exec-pic {
  border-radius: 20px;
  width: 300px;
  height: 380px;
  /* -webkit-filter: grayscale(100%); */
  /* filter: grayscale(100%); */
  transition: 0.5s ease-in;
}

.exec-text {
  -webkit-transition: background 0.3s, color 0.3s ease-in;
  transition: background 0.3s, color 0.3s ease-in;
  border-radius: 0 0 20px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ffffff;
  width: 300px;
  height: 125px;
  color: #000000;
  text-align: left;
}

.active .exec-text {
  width: 500px;
  height: 380px;
  border-radius: 20px;
  background: var(--dark-background-color);
  color: var(--accent-2-color);
}

.active.img-card:hover .exec-text {
  background-color: var(--dark-background-color);
}

.exec-text h5 {
  font-size: 1.5em !important;
}

.exec-text h6 {
  font-size: 0.9em !important;
}

.exec-name {
  position: absolute;
  padding-bottom: 40px;
  padding-left: 30px;
  bottom: 0;
  left: 0;
  font-family: "IBM Plex Mono";
}

.exec-desc {
  position: absolute;
  padding-bottom: 15px;
  padding-left: 30px;
  bottom: 0;
  left: 0;
  font-family: "Chivo";
}

.flip-card {
  display: none;
}

.active .flip-card {
  z-index: 900;
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 450px;
  display: inline-block;
}

.flip-text {
  padding: 20px;
  text-align: left;
  color: #f7e7ce;
}

.flip-text h5 {
  font-family: "IBM Plex Mono";
  font-size: 1.5em !important;
  color: var(--light-text-color);
}

.flip-text h6 {
  font-size: 1em !important;
  font-family: "Chivo";
}

.flip-about {
  padding-top: 10px;
}

.flip-category {
  font-family: "IBM Plex Mono";
  background-color: var(--dark-background-color-muted-light);
  padding-left: 5px;
  padding-right: 5px;
}

@media screen and (max-width: 700px) {
  .img-card {
    margin: 10px auto;
    width: 64vw;
    height: 530px;
    min-width: 300px;
  }

  .active.img-card {
    width: 350px;
    max-width: 80vw;
  }

  .exec-pic {
    width: 350px;
    height: 500px;
  }

  .exec-text {
    width: 350px;
    height: 85px;
  }

  .active .exec-text {
    width: 350px;
    height: 100%;
    max-width: 80vw;
  }

  .exec-text h5 {
    font-size: 1.2em !important;
  }

  .exec-text h6 {
    font-size: 0.8em !important;
  }

  .exec-name {
    padding-bottom: 35px;
    padding-left: 20px;
  }

  .exec-desc {
    padding-bottom: 15px;
    padding-left: 20px;
  }

  .active .flip-card {
    width: 350px;
    height: 375px;
    max-width: 80vw;
  }

  .flip-text h5 {
    font-size: 1.2em;
  }

  .flip-text h6 {
    font-size: 0.9em;
  }
}
