.section-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section-flex p {
  width: 500px;
}

.section-flex figcaption {
  text-align: center;
  font-size: 2vw;
}

.committee-img {
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  width: 150px;
  height: 150px;
  padding: 15px;
}

.committee-text {
  font-family: "Roboto";
  padding-top: 20px;
}

.committee-text h4 {
  text-align: center;
  width: 40vw;
  margin: auto;
  padding: 5px;
  background-color: var(--accent-color);
  border-radius: 5px;
  color: var(--light-text-color);
  font-family: "IBM Plex Mono";
}

.committee-text p {
  margin: auto;
  padding: 10px;
  padding-left: 20px;
}

@media screen and (max-width: 600px) {
  .section-flex figcaption {
    font-size: 0.7em;
  }
}

@media screen and (min-width: 800px) {
  .section-flex figcaption {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 1000px) {
  .committee-img {
    width: 200px;
    height: 200px;
  }
  .committee-text {
    /* height: 500px; */
    padding-top: 50px;
  }
}
