.contact-title {
  font-family: "Chivo";
  text-align: center;
}

.contact-desc {
  padding-top: 10px;
  text-align: center;
}

.icon-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon-box:hover > .icon {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.icon {
  padding-left: 2vw;
  /* width: 80px; */
  height: 80px;
  color: var(--light-text-color);
  float: right;
}

@media screen and (max-width: 600px) {
  .icon {
    width: 100px;
    height: 100px;
  }
  .contact-title {
    font-size: 1.5em;
  }
}
