.submit-form {
  padding: 5px 40px !important;
  background-color: var(--neutral-color-light) !important;
  color: var(--dark-text-color) !important;
}

.submit-form:hover {
  background-color: var(--accent-color) !important;
  color: var(--light-text-color) !important;
}
