@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap'); 

/* variables */
html {
  /* colors */
  --accent-color-light: #fcd5d5;
  /*--accent-color: #e6abb5;*/
  --accent-color: #64309b;
  --accent-color-shadow: #a57e85;
  --accent-text-color: #DF9697;
  --accent-4-text-color: #6ccbb4;
  --accent-2-color-light: #fdf1dd;
  --accent-2-color: #f7e7ce;
  --accent-2-color-shadow: #f7e7ce;
  --accent-2-color-shadow-2:#e6d0ae;
  --accent-3-color-shadow: #fdf6ff;
  /* --accent-2-text-color: #6060ad; */
  --accent-2-text-color: #58357d;
  --neutral-color-light: #ffffff;
  /*--neutral-color: #EEDEC9;*/
  --neutral-color: #ebddd7;
  --neutral-color-shadow-light: #fdf1dd;
  --neutral-color-shadow: #fdf1dd;
  /* --dark-background-color: #9D9DFF; */
  --dark-background-color: #734a9f;
  --dark-background-color-muted: #b5b5e4;
  --dark-background-color-muted-light: #9f9fb7;
  --light-text-color: #ffffff;
  /*--dark-text-color: #837d76;*/
  --dark-text-color: #2d1f3e;

  /* font families */
  --sans-serif-font: "'Chivo', sans-serif";
  --serif-font: "IBM Plex Mono";
}

.page {
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: var(--neutral-color); */
  background-color: var(--dark-background-color);
  color: var(--light-text-color);
  font-family: "Roboto";
}

.loading-container {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#container {
  min-height: 100vh;
  position: relative;
}

.content {
  padding-bottom: 60px;
}

.section {
  padding: 2em;
}

h1 {
  font-size: 9vw;
}

h2 {
  font-size: 7.5vw;
}

h3 {
  font-family: "IBM Plex Mono";
  font-size: 6vw;
  color: #2a5236;
}

h4 {
  font-family: "Roboto";
  font-size: 4.5vw;
}

h5 {
  font-family: "IBM Plex Mono";
  font-size: 3vw;
}

h6 {
  font-family: "IBM Plex Mono";
  font-size: 2.5vw;
}

a:hover {
  text-decoration: none;
}

.material-icons {
  font-size: 20px !important;
  color: var(--accent-2-color);
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
    min-width: 200px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }

  .material-icons {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 350px) {
  .container {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .section {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .material-icons {
    font-size: 14px !important;
  }
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3.5em !important;
  }
  h2 {
    font-size: 3em !important;
  }
  h3 {
    font-size: 2.5em !important;
  }
  h4 {
    font-size: 2em !important;
  }
  h5 {
    font-size: 1.5em !important;
  }
  h6 {
    font-size: 1.25em !important;
  }

  .material-icons {
    font-size: 20px !important;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 3.5em !important;
  }
  h2 {
    font-size: 3em !important;
  }
  h3 {
    font-size: 2.75em !important;
  }
  h4 {
    font-size: 2.25em !important;
  }
  h5 {
    font-size: 1.75em !important;
  }
  h6 {
    font-size: 1.5em !important;
  }
  .section {
    padding: 0 10vw;
  }

  .material-icons {
    font-size: 24px !important;
  }
}
