/* variables */
html {
  /* colors */
  --accent-color-light: #fcd5d5;
  --accent-color: #ff6b6b;
  --accent-color-shadow: #fc5a5a;
  --accent-text-color: #ac1313;
  --accent-2-color-light: #d6fed6;
  --accent-2-color: #ace8ac;
  --accent-2-color-shadow: #78c178;
  --accent-2-text-color: #285428;
  --neutral-color-light: #ffffff;
  --neutral-color: #dee3e3;
  --neutral-color-shadow-light: #d5d6d6;
  --neutral-color-shadow: #bec3c3;
  --dark-background-color: #022b3a;
  --dark-background-color-muted: #0e3e4f;
  --dark-background-color-muted-light: #276073;
  --light-text-color: #ffffff;
  --dark-text-color: #022b3a;

  /* font families */
  --sans-serif-font: "Roboto";
  --serif-font: "IBM Plex Mono";
}

.page {
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: var(--neutral-color); */
  background-color: var(--dark-background-color);
  color: var(--light-text-color);
  font-family: "Roboto";
}

#container {
  min-height: 100vh;
  position: relative;
}

.content {
  padding-bottom: 60px;
}

.section {
  padding: 2em;
}

h1 {
  font-size: 9vw;
}

h2 {
  font-size: 7.5vw;
}

h3 {
  font-family: "IBM Plex Mono";
  font-size: 6vw;
  color: #ffffff;
}

h4 {
  font-family: "Roboto";
  font-size: 4.5vw;
}

h5 {
  font-family: "IBM Plex Mono";
  font-size: 3vw;
}

h6 {
  font-family: "IBM Plex Mono";
  font-size: 2.5vw;
}

a:hover {
  text-decoration: none;
}

.material-icons {
  font-size: 20px !important;
  color: var(--accent-2-color);
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
    min-width: 200px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }

  .material-icons {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 350px) {
  .container {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .section {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .material-icons {
    font-size: 14px !important;
  }
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3.5em !important;
  }
  h2 {
    font-size: 3em !important;
  }
  h3 {
    font-size: 2.5em !important;
  }
  h4 {
    font-size: 2em !important;
  }
  h5 {
    font-size: 1.5em !important;
  }
  h6 {
    font-size: 1.25em !important;
  }

  .material-icons {
    font-size: 20px !important;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 3.5em !important;
  }
  h2 {
    font-size: 3em !important;
  }
  h3 {
    font-size: 2.75em !important;
  }
  h4 {
    font-size: 2.25em !important;
  }
  h5 {
    font-size: 1.75em !important;
  }
  h6 {
    font-size: 1.5em !important;
  }
  .section {
    padding: 0 10vw;
  }

  .material-icons {
    font-size: 24px !important;
  }
}
