/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap"); */


.wece-hacks-wrapper {
  position: fixed;
  top: 60px;
  width: 100%;
  padding: 10px;
  background-color: #b1f4c5;
  color:#540d6e;
  font-family: "Source Sans Pro", sans-serif;
  z-index: 100;
}

.wece-hacks-wrapper2 {
  position: fixed;
  top: 100px;
  width: 100%;
  padding: 10px;
  background-color: #b1f4c5;
  color:#540d6e;
  font-family: "Source Sans Pro", sans-serif;
  z-index: 100;
}

.wece-hacks-wrapper a {
  text-decoration: none;
  font-weight: bold;
}

.wece-hacks-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s;
  cursor: pointer;
  color: #540d6e;
}

.wece-hacks-content:hover {
  transform: scale(1.1);
}

.wece-hacks-content:hover .wece-hacks-icon {
  color: #540d6e;
  transform: scale(1.1);
}

.wece-hacks-icon {
  padding-left: 4px;
  color: #540d6e;
}

.wece-hacks-icon {
  padding-bottom: 1px;
}

.lines {
  position: absolute;
  top: 100px;
  display: block;
  width: 100%;
  z-index: 0;
}

.top {
  background-color: #9D9DFF;
  background-image: linear-gradient(
    180deg,
    #9D9DFF 4%,
    #9D9DFF 13%,
    #DF9697 44%,
    #F7BDBE 80%
  );
}

@media screen and (max-width: 600px) {
  .lines {
    max-height: 80vw;
  }
}

.path {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: var(--accent-2-color-shadow);
  opacity: 0.8;
  stroke-width: 0.3em;
  stroke-miterlimit: 5;
}

.path1 {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  animation: dash 15s linear forwards infinite;
}

.path2 {
  stroke-dasharray: 1800;
  stroke-dashoffset: 1800;
  animation: dash 30s linear forwards infinite;
}

.path3 {
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: dash 20s linear forwards infinite;
}

.path4 {
  stroke-dasharray: 1800;
  stroke-dashoffset: 1800;
  animation: dash 12s linear forwards infinite;
}

.path5 {
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: dash 20s linear forwards infinite;
}

.path6 {
  stroke-dasharray: 2500;
  stroke-dashoffset: 2500;
  animation: dash 30s linear forwards infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 5vw;
  position: relative;
  z-index: 2;
}

.front-img {
  margin-top: 50px;
  height: 100%;
  max-width: 50vw;
}

.front-img > img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 700px) {
  .front-img {
    max-width: 28vw;
  }
}

.staff-pic-popup {
  transition: 1s;
}

.staff-pic-popup > img {
  position: relative;
  z-index: 2;
  margin-top: -10vw;
  width: 65vw;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.img-center {
  display: block;
  margin: auto;
}

.subheading {
  position: relative; /* z-index only applies to positioned elements*/
  width: 80%;
  padding: 2vw;
  margin: auto;
  border-radius: 10px;
  z-index: 2;
}

.wece-title {
  font-size: 5vw;
  word-wrap: break-word;
  font-family: "IBM Plex Mono";
  font-weight: bold;
  text-align: center;
}

.uiuc-subheading {
  font-size: 3.5vw;
  color: var(--neutral-color-light);
  padding-top: 2vw;
  font-family: "Chivo";
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .wece-title {
    font-size: 2.5em;
  }
  .uiuc-subheading {
    font-size: 2em;
  }
}
