.lines {
  position: absolute;
  top: 100px;
  display: block;
  width: 100%;
  z-index: 0;
}

.top {
  background: rgb(2, 43, 58);
  background: linear-gradient(
    90deg,
    rgba(2, 43, 58, 1) 22%,
    rgba(172, 232, 172, 1) 100%,
    rgba(255, 107, 107, 1) 100%
  );
}

@media screen and (max-width: 600px) {
  .lines {
    max-height: 80vw;
  }
}

.path {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: var(--accent-2-color-shadow);
  opacity: 0.8;
  stroke-width: 0.3em;
  stroke-miterlimit: 5;
}

.path1 {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  animation: dash 15s linear forwards infinite;
}

.path2 {
  stroke-dasharray: 1800;
  stroke-dashoffset: 1800;
  animation: dash 30s linear forwards infinite;
}

.path3 {
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: dash 20s linear forwards infinite;
}

.path4 {
  stroke-dasharray: 1800;
  stroke-dashoffset: 1800;
  animation: dash 12s linear forwards infinite;
}

.path5 {
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: dash 20s linear forwards infinite;
}

.path6 {
  stroke-dasharray: 2500;
  stroke-dashoffset: 2500;
  animation: dash 30s linear forwards infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.title {
  margin-top: 50px;
  padding: 5vw;
  position: relative;
  z-index: 2;
}

.front-img {
  display: flex;
  justify-content: center;
}

.front-img > img {
  max-width: 50vw;
}

@media screen and (min-width: 700px) {
  .front-img > img {
    max-width: 28vw;
  }
}

.staff-pic-popup {
  transition: 1s;
}

.staff-pic-popup > img {
  position: relative;
  z-index: 2;
  margin-top: -10vw;
  width: 65vw;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.img-center {
  display: block;
  margin: auto;
}

.subheading {
  position: relative; /* z-index only applies to positioned elements*/
  width: 80%;
  padding: 2vw;
  margin: auto;
  border-radius: 10px;
  z-index: 2;
}

.wece-title {
  font-size: 5vw;
  word-wrap: break-word;
  /* font-family: 'Oswald'; */
  font-family: "IBM Plex Mono";
  font-weight: bold;
  text-align: center;
}

.uiuc-subheading {
  font-size: 3.5vw;
  color: var(--neutral-color-light);
  padding-top: 2vw;
  font-family: "Roboto";
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .wece-title {
    font-size: 2.5em;
  }
  .uiuc-subheading {
    font-size: 2em;
  }
}
