@import url("https://fonts.googleapis.com/css2?family=Jomhuria&family=Source+Code+Pro&family=Work+Sans&display=swap");

/* Styles for page rendering */

.markdown-render {
  padding-top: 100px;
  padding-bottom: 80px;
  padding-left: 20%;
  padding-right: 20%;
  font-family: "Work Sans", sans-serif;
}

/* Styles for page rendering on mobile */
@media screen and (max-width: 768px) {
  .markdown-render {
    padding-left: 5%;
    padding-right: 5%;
  }
}

/* Styles for code block */

.code-container {
  background-color: white;
  padding: 10px 20px 20px 20px;
  border-radius: 5px;
  font-family: "Source Code Pro", monospace;
  white-space: pre-wrap;
  margin-top: 2px;
  margin-bottom: 15px;
}

.code-header {
  display: flex;
  justify-content: flex-end;
  color: rgb(93, 146, 210);
}
