.navbar {
  min-height: 70px;
  color: #F7BDBE !important;
  background-color: var(--dark-background-color);
  font-family: "IBM Plex Mono";
  font-size: 0.8em;
}

.wece-brand {
  margin-right: 5px;
  opacity: 0.9;
}

.wece-brand:hover {
  opacity: 1;
}

@media screen and (max-width: 400px) {
  .wece-brand > img {
    width: 70px;
    height: auto;
  }
}

.nav-img {
  opacity: 0.6;
}

.nav-img:hover {
  opacity: 1;
}

.left-navbar {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 30px;
}

.left-navbar-imgs {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-left: 20px;
}

.left-navbar-link {
  margin-right: 15px;
}

@media screen and (max-width: 300px) {
  .left-navbar {
    margin-left: 10px !important;
  }

  .left-navbar-imgs {
    margin-left: 5px !important;
  }

  .left-navbar-link {
    margin-right: 10px !important;
  }

  .left-navbar-link > img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .left-navbar {
    margin-left: 15px;
  }

  .left-navbar-imgs {
    margin-left: 10px;
  }
}

.right-navbar {
  padding-right: 1em;
  text-align: right;
  float: right;
}

.navbar-nav > li > a:hover {
  color: var(--dark-text-color) !important;
}

.custom-toggler {
  opacity: 0.8;
  border: none !important;
}

.custom-toggler:focus {
  outline: none !important;
}

.custom-toggler:hover {
  opacity: 1;
}

.dropdown-item-text {
  color: var(--dark-text-color) !important;
  font-size: 0.8em;
}

.dropdown-item {
  color: var(--dark-text-color) !important;
  font-size: 0.8em;
}

.dropdown-item:hover {
  background-color: var(--dark-background-color-muted-light) !important;
}

.login {
  background-color: var(--accent-4-text-color);
  border-radius: 5px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: var(--light-text-color) !important;
}

.account-dropdown > a {
  display: inline-block !important;
  background-color: var(--accent-2-color);
  border-radius: 5px;
  margin-left: 10px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  color: var(--dark-text-color) !important;
}

.account-dropdown > div {
  left: auto;
  right: 0;
}

.sticky-top {
  position: fixed;
  width: 100%;
  top: 0;
}

.night-mode-button {
  background: rgba(10, 0, 11, 0.4);
  border: 1px solid rgba(246, 221, 246, 0.4);
  border-radius: 8px;
  color:rgb(247, 243, 247);
  cursor: pointer;
  font-size: 0.8em;
  font-family: "IBM Plex Mono";
  padding: 6px 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
  border-radius: 8px;
}

.night-mode-button:hover {
  background: rgba(73, 40, 77, 0.4);
  border: 1px solid rgba(246, 221, 246, 0.4);
  color:rgb(247, 243, 247);
}

:global(body.night-mode) .night-mode-button{
  background: rgba(240, 230, 255, 0.9);
  color: #2D1F3E;
  border: 3px solid #2D1F3E;
}

:global(body.night-mode) .night-mode-button:hover{
  background: rgba(185, 166, 214, 0.9);
  color: #2D1F3E;
  border: 3px solid #2D1F3E;
}

:global(html.night-mode) .dropdown-item {
  color: black !important;
}

:global(html.night-mode) .night-mode-button {
  background:  rgba(240, 230, 255, 0.9);
  border: 1px #2D1F3E;
  color: #2D1F3E;
}

:global(html.night-mode) .night-mode-button:hover {
  background:  rgba(206, 184, 238, 0.9);
  border: 1px #3c2a53;
  color: #2D1F3E;
}



