.help-text {
  margin-bottom: 5px;
  font-size: 0.9em;
}

.reset-code {
  margin-bottom: 20px;
}

.reset-code input {
  font-size: 2em;
  padding-top: 1.2em;
  padding-bottom: 1em;
  background-image: none !important;
  padding-right: 0.75em !important;
}

.reset-code div {
  margin: 4px;
}

@media only screen and (max-width: 800px) {
  .reset-code input {
    font-size: 1em;
    padding-top: 1.2em;
    padding-bottom: 1em;
    background-image: none !important;
    padding-right: 0.75em !important;
  }

  .reset-code div {
    margin: 2px;
  }
}

@media only screen and (max-width: 300px) {
  .reset-code input {
    font-size: 0.8em;
    padding-top: 1.2em;
    padding-bottom: 1em;
    background-image: none !important;
    padding-right: 0.75em !important;
  }
}
