.section-head {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.section-top {
  padding-top: 8vw;
}

@media screen and (max-width: 500px) {
  .section-top {
    padding-top: 60px;
  }
}

.section-title h3 {
  font-size: 6vw;
  overflow: hidden;
  border-right: 0.05em solid var(--dark-background-color-muted);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.2em;
  animation: typing 3.5s steps(22, end) infinite,
    blink-caret 3.5s step-end infinite;
  color: var(--accent-2-text-color);
}

/* https://css-tricks.com/snippets/css/typewriter-effect/ */

@keyframes typing {
  from {
    width: 0;
  }
  50% {
    width: 100%;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  5% {
    border-color: var(--light-text-color);
  }
  10% {
    border-color: transparent;
  }
  15% {
    border-color: var(--light-text-color);
  }
  20% {
    border-color: transparent;
  }
  25% {
    border-color: var(--light-text-color);
  }
  30% {
    border-color: transparent;
  }
  35% {
    border-color: var(--light-text-color);
  }
  40% {
    border-color: transparent;
  }
  45% {
    border-color: var(--light-text-color);
  }
  50% {
    border-color: transparent;
  }
  55% {
    border-color: var(--light-text-color);
  }
  60% {
    border-color: transparent;
  }
  65% {
    border-color: var(--light-text-color);
  }
}
