.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  font-family: "IBM Plex Mono", monospace;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 15px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: var(--accent-color-shadow);
  color: white !important;
}

.tag:hover::after {
   border-left-color: var(--accent-color-shadow);

}
