/* .cursor {
  border-radius: 100%;
  box-shadow: 0 0 1.5rem #6fb183, 0 0 1rem #6fb183, 0 0 0.2rem #6fb183,
    0 0 0.4rem #6fb183;
  color: #b1f4c5;
} */

.wece-hacks-wrapper {
  position: fixed;
  top: 60px;
  width: 100%;
  padding: 10px;
  background-color: #b1f4c5;
  color:#540d6e;
  font-family: "Source Sans Pro", sans-serif;
  z-index: 100;
}

.wece-hacks-wrapper a {
  text-decoration: none;
  font-weight: bold;
}

.wece-hacks-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s;
  cursor: pointer;
  color: #540d6e;
}

.wece-hacks-content:hover {
  transform: scale(1.1);
}

.wece-hacks-content:hover .wece-hacks-icon {
  color: #540d6e;
  transform: scale(1.1);
}

.wece-hacks-icon {
  padding-left: 4px;
  color: #540d6e;
}

.wece-hacks-icon {
  padding-bottom: 1px;
}
.side-nav {
  text-transform: uppercase;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-right: 128px;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  color: #540d6e;
  cursor: none;
}

.side-nav-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.2s;
  margin-bottom: 8px;
}

.side-nav-item:focus {
  outline: 0;
}

.side-nav .active .circle {
  background-color: #fff;
  border: 2px solid #fff;
}

.side-nav .active p {
  color: #fff;
}

.side-nav-item:hover .circle {
  background-color: #fff;
  border: 2px solid #fff;
}

.side-nav-item:hover p {
  color: #fff;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  border: 2px solid #540d6e;
  transition: all 0.2s;
}

.side-nav-item p {
  margin: 0;
  margin-right: 10px;
  width: fit-content;
  transition: all 0.2s;
}

@media screen and (max-width: 1000px) {
  .side-nav {
    margin-right: 64px;
  }

  .side-nav-item p {
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  .side-nav {
    display: none;
  }
}

.pages {
  cursor: none;
}

.section {
  height: 150vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.half-screen {
  padding-right: 200px;
}

@media screen and (max-width: 1000px) {
  .half-screen {
    padding-right: 100px;
  }
}

@media screen and (max-width: 600px) {
  .half-screen {
    padding-right: 0px;
  }
}

.lettering-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");

.wece {
  font-family: "Train One", cursive;
  color: #e88ff7;
  text-shadow: 0 0 3vw #a276a9;
}

.wece h1 {
  font-size: 5em !important;
}

@media screen and (max-width: 600px) {
  .wece h1 {
    font-size: 3em !important;
  }
}

.wece {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #a274dd, 0 0 3vw #a274dd, 0 0 10vw #a274dd,
      0 0 10vw #a274dd, 0 0 0.4vw #d9b9e8, 0.5vw 0.5vw 0.1vw #a274dd;
    color: #d9b9e8;
  }
  50% {
    text-shadow: 0 0 0.5vw #905dd3, 0 0 1.5vw #905dd3, 0 0 5vw #905dd3,
      0 0 5vw #905dd3, 0 0 0.2vw #905dd3, 0.5vw 0.5vw 0.1vw #a276a9;
    color: #bc8cc4;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.hacks {
  font-family: "Fredoka One", cursive;
  color: #b1f4c5;
  text-shadow: 0 0 3vw #6fb183;
}

.hacks h1 {
  font-size: 3em !important;
}

@media screen and (max-width: 600px) {
  .hacks h1 {
    font-size: 1.5em !important;
  }
}

.hacks {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #426b69, 0 0 3vw #426b69, 0 0 10vw #426b69,
      0 0 10vw #426b69, 0 0 0.4vw #b1f4c5, 0.5vw 0.5vw 0.1vw #6fb183;
    color: #b1f4c5;
  }
  50% {
    text-shadow: 0 0 0.5vw #33523d, 0 0 1.5vw #33523d, 0 0 5vw #33523d,
      0 0 5vw #33523d, 0 0 0.2vw #33523d, 0.5vw 0.5vw 0.1vw #4d7a5b;
    color: #6fb183;
  }
}

.caption {
  margin-top: 20px;
  color: #540d6e;
}

@media screen and (max-width: 600px) {
  .caption h6 {
    font-size: 0.7em;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

.title {
  font-family: "Train One", cursive;
  font-size: 2em;
  margin: 1em;
  letter-spacing: 0.15em;
  color: #b1f4c5;
  text-shadow: 0 0 1vw #426b69, 0 0 3vw #426b69, 0 0 10vw #426b69,
    0 0 10vw #426b69, 0 0 0.4vw #b1f4c5, 0.5vw 0.5vw 0.1vw #6fb183;
}

.text-box {
  background-color: #d1a2e7;
  color: #420b57;
  width: 50%;
  padding: 20px;
  border-radius: 8px;
  font-family: "Source Sans Pro", sans-serif;
}

.text-box2{
  background-color: #d1a2e7;
  color: #420b57;
  width: 50%;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  font-family: "Source Sans Pro", sans-serif;
}

@media screen and (max-width: 600px) {
  .text-box {
    width: 80%;
  }

  .text-box2 {
    width: 80%;
  }
}

.typeform {
  display: none;
}

.button {
  font-family: "Source Sans Pro", sans-serif;
  padding: 20px;
  border-radius: 8px;
  background-color: #e88ff7;
  color: #1b1523;
  border: none;
  cursor: none !important;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #540d6e;
  color: #fff;
}

.about-icon-row {
  display: flex;
  flex-wrap: wrap;
}

.about-icon-wrapper {
  margin: 8px;
}

.about-icon-wrapper2 {
  text-align: center;
  margin: 8px;
}

.about-icon img {
  width: 60px;
}

.about-icon-text {
  width: 100px;
  margin-top: 8px;
  font-weight: 600;
}

.about-icon2 img {
  width: 150px;
}