.page {
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: #dee3e3; */
  background-color: #20272f;
  color: #ffffff;
  font-family: "Roboto";
}

#container {
  min-height: 100vh;
  position: relative;
}

.content {
  padding-bottom: 60px;
}

.section {
  padding: 2em;
}

h1 {
  font-size: 9vw;
}

h2 {
  font-size: 7.5vw;
}

h3 {
  font-family: "IBM Plex Mono";
  font-size: 6vw;
  color: #ffffff;
}

h4 {
  font-family: "Roboto";
  font-size: 4.5vw;
}

h5 {
  font-family: "IBM Plex Mono";
  font-size: 3vw;
}

h6 {
  font-family: "IBM Plex Mono";
  font-size: 2.5vw;
}

a:hover {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .section-body p {
    font-size: 0.8em;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
    min-width: 200px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
}

@media screen and (min-width: 800px) {
  .section-body p {
    font-size: 1.1em;
  }
  h1 {
    font-size: 3.5em !important;
  }
  h2 {
    font-size: 3em !important;
  }
  h3 {
    font-size: 2.5em !important;
  }
  h4 {
    font-size: 2em !important;
  }
  h5 {
    font-size: 1.5em !important;
  }
  h6 {
    font-size: 1.25em !important;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 3.5em !important;
  }
  h2 {
    font-size: 3em !important;
  }
  h3 {
    font-size: 2.75em !important;
  }
  h4 {
    font-size: 2.25em !important;
  }
  h5 {
    font-size: 1.75em !important;
  }
  h6 {
    font-size: 1.5em !important;
  }
  .section-body {
    padding: 4vw 5vw;
  }
  .section {
    padding: 0 10vw;
  }
}
