.main-sponsor {
  font-family: "Roboto";
  text-align: center;
}

.sponsor-level {
  font-family: "Roboto";
  text-align: center;
  font-size: 2.5em;
  padding-top: 20px;
}

.donor-names {
  font-family: "Roboto";
  color: #20272f;
  text-align: center;
}
