#submit-form {
  padding: 5px 40px;
  background-color: var(--neutral-color-light);
  color: var(--dark-text-color);
}

#submit-form:hover {
  background-color: var(--accent-color);
  color: var(--light-text-color);
}
