.section-body {
  color: var(--dark-text-color);
  background-color: var(--neutral-color);
  padding: 4vw 8vw;
  margin: 4vw;
  border-radius: 10px;
  opacity: 0.8;
  box-shadow: 10px 10px 5px 3px #161a20;
}

.section-hover-body:hover {
  background-color: var(--accent-color);
  border-bottom: 4px solid var(--accent-color-shadow);
  color: var(--light-text-color);
}

.section-body p {
  font-family: "Roboto";
  font-size: 2.2vw;
}

.section-link:hover {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .section-body p {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 800px) {
  .section-body p {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 1000px) {
  .section-body {
    padding: 4vw 5vw;
  }
}
